.catalog-order-viewer .entry > .header > * {
    display: inline-block;
    vertical-align: middle;
}
.catalog-order-viewer .entry > .children {
    margin-left: 23px;
}
.catalog-order-viewer .entry > .children.hidden {
    display: none;
}