.catalog-order-viewer .order > .header > * {
    display: inline-block;
    vertical-align: middle;
}
.catalog-order-viewer .order > .header {
    cursor: pointer;        
}
.catalog-order-viewer .order > .content {
    padding-left: 15px;
}
.catalog-order-viewer .order > .content.hidden {
    display: none;
}