.catalog-order-viewer .roi {
    margin-top: 8px;
    font-family: 'IBM Plex Sans';
}
.catalog-order-viewer .roi:last-child {
    margin-bottom: 8px;
}
.catalog-order-viewer .roi > .header {
    padding: 17px 7px 17px 9px;
    cursor: pointer;        
    background-color: #F3F7FA;
    border: 1px solid #D8E1E8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}     
.catalog-order-viewer .roi > .header td,
.catalog-order-viewer .roi > .content th,
.catalog-order-viewer .roi > .content td {
    white-space: nowrap;
}
.catalog-order-viewer .roi > .header.collapsed {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}      
.catalog-order-viewer .roi > .header .toggle {
    cursor: pointer;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}
.catalog-order-viewer .roi > .header .down {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.catalog-order-viewer .roi > .header .preview,
.catalog-order-viewer .roi > .header .name {
    margin-left: 10px;
}
.catalog-order-viewer .roi > .content {
    border-left: 1px solid #D8E1E8;
    border-bottom: 1px solid #D8E1E8;
    border-right: 1px solid #D8E1E8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;        
}
.catalog-order-viewer .roi > .content.hidden {
    display: none;
}
.catalog-order-viewer .roi > .content th,
.catalog-order-viewer .roi > .content td {
    text-align: left;
    border-left: 1px solid #D8E1E8;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;        
}
.catalog-order-viewer .roi > .header .name,
.catalog-order-viewer .roi > .content th:first-child {
    width: 100%;
}
.catalog-order-viewer .roi > .content th:first-child,
.catalog-order-viewer .roi > .content td:first-child,
.catalog-order-viewer .roi > .content th:last-child,
.catalog-order-viewer .roi > .content td:last-child {
    border-left: none;
}         
.catalog-order-viewer .roi > .content th:first-child,
.catalog-order-viewer .roi > .content td:first-child {
    padding-left: 32px;            
}    
.catalog-order-viewer .roi > .content th {        
    color: #92A0AC;
    border-bottom: 1px solid #D8E1E8;
}
.catalog-order-viewer .roi > .content td {
    color: #455467;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.catalog-order-viewer .roi > .content td > * {
    vertical-align: middle;
}
.catalog-order-viewer .roi > .content .selected td {
    border-top: 1px solid #00A2D3;
    border-bottom: 1px solid #00A2D3;
}
.catalog-order-viewer .roi > .content .selected td:first-child {
    border-left: 1px solid #00A2D3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.catalog-order-viewer .roi > .content .selected td:last-child {
    border-right: 1px solid #00A2D3;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}